<script id = "navbar-partial" type="text/x-handlebars-template">
    <div class = "navbar">
        <a class="navbar-brand" href="#">Link 1</a>
        <a class="navbar-brand" href="#">Link 2</a>
        <a class="navbar-brand" href="#">Link 3</a>
    </div>
</script>