html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0px;
}

img{
    height:24rem;
    width:24rem;
}

a{
    text-decoration: none;
    color:black;
}

/* containers */
.div-container{
    display:flex;
    margin:5%;
    justify-content:space-evenly;
    flex-direction:row;
}

.small-container{
    width:30%;
    /* background-color: gray; */
    /* text-align:center; */
}

#vertical{
    flex-direction:column;
}

#interactiveBanner{
    height:100%;
    background-color:black;
}

/* text */
.sectionTitle{
    font-family: 'Open Sans Condensed', sans-serif;
    margin:3%;
    text-align:center;
    font-size:3em;
}

.sectionDescription{
    text-align:center;
    margin:0;
}

.subTitle{
    font-family: 'Open Sans Condensed', sans-serif;
}

.peopleSubTitle{
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    text-align:center;
}

.peopleName{
    font-size:1em;
    text-align:center;
}

#resourcesTitle{
    margin:0;
}

#subscribeLink{
    text-align: center;
}

/* navigation bar */
.navbar{
    display:flex;
    font-size:1em;
}

#titleNavbar{
    flex-grow:1;
}

.navbar-brand{
    margin:2%;
}

/* FLEXBOX GRID */
.gridContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
    flex-wrap:wrap;
    width:80%;
    /* background-color:gray; */
}

.column {
    flex:1;
    text-align:center;
}

#galleryColumn{
    margin:0.5%;
    /* background-color:gray; */
}






