/* colors: light: 99CCFF E1E1E1 Dark Blue:0033FF semi light: 6699CC semi dark: 3366CC */

body, html{
    margin:0;
    width:100%;
	  height: 100vh;
    background-color:black;
    font-family: "Times New Roman", Times, serif
}

a{
  text-decoration:none;
  display:none;
}

.large-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:100%;
    /* background-color:blue; */
}

.text-container{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  flex-direction:column;
  flex-grow:1;
}

.text-area{
  height:350px;
  width:450px;
  /* background-color:gray; */
}

#text1{
  color:#0033FF;
}

#text2{
  color:#99CCFF;
}

#text3{
  color:#6699CC;
}

#text4{
  color:#3366CC;
}

#square-container{
  /* margin-top:3%; */
  margin-bottom:1%;
}

.project-link{
  color:#99CCFF;
  font-size:15px;
  margin-left:1%;
  margin-right:1%;
}

#current-project{
  margin-top:0;
  margin-bottom:2%;
}

footer{
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  margin-bottom:1%;
}
